* {
    margin: 0;
    padding:0;
}
.back{
    width: 800px;
    background: black;
    padding: 5px;
}

.orange{
    height: 50px;
    background: orange;
}

.target_box{
    display: flex;
}

.box{
    flex-basis: 25%;
    height: 200px;
}

.red{
    background: red;
}
.green{
    background: green;
}
.blue{
    background: blue;
}
.black{
    background: black;
}