* {
    margin: 0;
    padding:0;
}
.back{
    display: flex;
    width: 800px;
    height: 300px;
    background: black;
    padding: 5px;
    flex-direction: column;
 }

.orange1{
    flex-basis: 800px;
    max-height: 50px;
    min-height: 50px;
    background: orange;
}

.orange2{
    min-height: 50px;
    flex-basis: 800px;
    max-height: 50px;
    background: orange;
}

.box{
    flex-basis: 25%;
    max-height: 200px;
}

.red{
    background: red;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.black{
    background: black;
}

.target_box{
    display: flex;
    height: 400px;
}